
body{
    background-color: $secondary-color;
}


.container-padding{
    box-shadow: 10px 10px 44px 3px rgba(0,0,0,0.75);
    background-color: white;
    padding: 20px;
    /*margin: 0 4%;*/
}
.off-canvas{
    border: 1px solid darken($primary-color, 10%);
}


footer{
    z-index: 1;
    min-height: 200px;
    background-color: lighten($primary-color, 10%);
}

fieldset{
    background: #FCFCFC;
    padding: 16px;
    border: 1px solid #D5D5D5;
}
.addfields{
    margin: 10px 0;
}

#choicesDisplay {
    padding: 10px;
    background: rgb(227, 250, 227);
    border: 1px solid rgb(171, 239, 171);
    color: rgb(9, 56, 9);
}

.active-link-class{
    background-color: lighten($primary-color, 10%);
    // color: darken($primary-color, 20%) !important;
    // border: 1px solid darken($primary-color, 20%);

}

.remove{
    background: #C76868;
    color: #FFF;
    font-weight: bold;
    font-size: 21px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 4px 9px;
    vertical-align: top;
    line-height: 100%;   
}
input[type="text"],
select{
    padding:5px;
}

/*.grid-frame{
    //height: auto;
    min-height: 100vh;
}*/

.menu-bar > li > a > img, .menu-bar > li > a > .iconic, .menu-bar.icon-top > li > a > img, .menu-bar.icon-top > li > a > .iconic{
    margin: 0;
    float: right !important;

}

.breadcrumb {
    display: flex;
    //min-width: 100%;
    margin-bottom: 20px;
    line-height: 30px;
    color: #fff;
    /*padding: 1px;*/
    /*border: 1px solid $gray;*/
    a{
        color: white;
    }
    li {
        display: block;
        float: left;
        background: $primary-color;
        padding-right: 10px;
        height: 30px;
        margin-right: 31px;
        position: relative;
        text-decoration: none;
        color: #fff;

        &:last-of-type {
            background: lighten($primary-color, 15%);
            color: #fff;
            text-decoration: none;

            &:before {
                border-color: lighten($primary-color, 15%);
                border-left-color: transparent;
            }

            &:after {
                border-left-color: lighten($primary-color, 15%);
            }
            margin-right: 25px;
        }

        &:before {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: -30px;
            border: 15px solid transparent;
            border-color: $primary-color;
            border-left-color: transparent;
        }

        &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: -30px;
            border: 15px solid transparent;
            border-left-color: $primary-color;
        }

        &:first-of-type {
            padding-left: 15px;

            &:before {
                display: none;
            }
        }

        &:hover {
            background: lighten($primary-color, 5%);
            color: #fff;
            text-decoration: none;

            &:before {
                border-color: lighten($primary-color, 5%);
                border-left-color: transparent;
            }

            &:after {
                border-left-color: lighten($primary-color, 5%);
            }
        }
    }
}