
<div ui-view>
    <!--<div ncy-breadcrumb></div>-->
    <div class="grid-block">
        <h1>View all audits</h1>
    </div>
    <!--<div class="grid-block">-->

    
    
        <section class="block-list">
            <header>List title</header>
            <ul>

                <li class="with-chevron">
                    <div class='left'><a ui-sref='audit-view'>Click here to view it</a></div>

                    <div class="right" zf-action-sheet="">
                        <div zf-as-button="" title="Actions"></div>
                        <div zf-as-content="" position="bottom">
                            <p>What you wana do?</p>
                            <ul>
                                <li><a ui-sref="audit-view">View</a></li>
                                <li><a ui-sref="audit-update">Edit</a></li>
                                <li><a ui-sref="#">Assign</a></li>
                                <li><a class="alert" ui-sref="audit-delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </li>
                <li class="with-chevron">
                    <a ui-sref='audit-view'>Click here to view it</a>

                    <div zf-action-sheet="">
                        <div zf-as-button="" title="Actions"></div>
                        <div zf-as-content="" position="bottom">
                            <p>What you wana do?</p>
                            <ul>
                                <li><a ui-sref="audit-view">View</a></li>
                                <li><a ui-sref="audit-update">Edit</a></li>
                                <li><a ui-sref="#">Assign</a></li>
                                <li><a ui-sref="audit-delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </li>
                <li class="with-chevron">
                    <a ui-sref='audit-view'>Click here to view it</a>

                    <div zf-action-sheet="">
                        <div zf-as-button="" title="Actions"></div>
                        <div zf-as-content="" position="bottom">
                            <p>What you wana do?</p>
                            <ul>
                                <li><a ui-sref="audit-view">View</a></li>
                                <li><a ui-sref="audit-update">Edit</a></li>
                                <li><a ui-sref="#">Assign</a></li>
                                <li><a ui-sref="audit-delete">Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </li>
                
            </ul>
        </section> 

    </div>


<!--</div>-->
