
<!--Include breadcrumbs on all pages-->
<div ncy-breadcrumb></div>
<div ui-view>
    
    <div class="grid-content small-12">
        <h1>Dashboard</h1>
        <h3 class="subheader">Some sort of pretty, descriptive paragraph here to fill some space and help the user understand whats going on.
        </h3>
    </div>


    <div class="grid-block small-up-1 medium-up-2 large-up-3">
        <div class="grid-content">
            <div class="primary card">
                <a ui-sref="auditcp"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Audit Control Panel</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button saturate-primary expand" ui-sref="auditcp">Control Panel</a>
                </div>
            </div>
        </div>
        <div class="grid-content">
            <div class="warning card">
                <a ui-sref="auditnew"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Reporting Suite</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button saturate-warning expand" ui-sref="auditnew">Reporting Suite</a>
                </div>
            </div>
        </div>
        <div class="grid-content">
            <div class="dark card">
                <a ui-sref="settings"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Account Settings</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button saturate-dark expand" ui-sref="settings">Settings</a>
                </div>
            </div>
        </div>

    </div> 
</div>