<div ui-view>
    <h1>Login</h1>
    <p class="lead">Not got an account? Give us a ring 01246123123</p>
    <div class="grid-block small-12">
        <form>

            <div class="small-12 medium-12 grid-content">
                <label>
                    Client Number
                    <input placeholder="Client number" type="number">
                </label>
            </div>
            <div class="small-12 medium-12 grid-content">
                <label>
                    Username
                    <input placeholder="Username or Email Address" type="text">
                </label>
            </div>
            <div class="small-12 medium-12 grid-content">
                <label>
                    Password
                    <input placeholder="Password" type="password">
                </label>
            </div>

            <a href='#' class='button success expand'>Login <img zf-iconic="" icon="account" data-direction="right" size="medium"></a>

        </form>
        <div class="small-12 medium-6 grid-content">
            <a ui-sref='forgotten-password'>Help I've forgotten my password.</a>
        </div>
    </div>
</div>
<!--</div>-->