<!--<div ncy-breadcrumb></div>-->
<div ui-view>

    <div class="grid-block">
        <h1>Audit Application Settings</h1>
        <br>
        <p class='lead'>Some lead text telling them what this settings page is all about.</p>
    </div>
    <div class="grid-block small-up-1 medium-up-4 large-up-4">
        <div class="grid-content">
            <div class="primary card">
                <a ui-sref="auditcp"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Audit Settings</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button saturate-primary expand" ui-sref="auditcp">Create Audit</a>
                </div>
            </div>
        </div>
        <div class="grid-content">
            <div class="warning card">
                <a ui-sref="auditnew"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Report Settings</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button saturate-warning expand" ui-sref="auditnew">Create Audit</a>
                </div>
            </div>
        </div>
        <div class="grid-content">
            <div class="success card">
                <a ui-sref="audit-new"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>Email Settings</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button hollow success expand" ui-sref="audit-new">Create Audit</a>
                </div>
            </div>
        </div>
        <div class="grid-content">
            <div class="info card">
                <a ui-sref="audit-new"><img src="http://placehold.it/350x100"></a>
                <div class="card-divider">
                    <h4>User Setup</h4>
                </div>
                <div class="card-section">
                    <!--<p>Go here to create new audits.</p>-->
                    <a class="button secondary expand" ui-sref="audit-new">Create Audit</a>
                </div>
            </div>
        </div>
    </div> 




</div>

